.advertisement {
    width: 100%;
    min-height: 662px;
}

.adv-cardlist {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adv__card {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    border-radius: 20px;
}

.adv__card-img {
    width: 400px;
    padding: 20px;
}

.adv__card-title {
    font-size: 50px;
    text-align: center;
}

.adv__card-description {
    text-align: center;
    padding: 10px;
}