.advertisement {
    width: 100%;
}

.adv-cardlist {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adv__card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 5px;
}

.adv__card-img {
    padding: 20px;
    padding-bottom: 0;
}

.adv__card-title {
    font-size: 50px;
    text-align: center;
    font-family: var(--font-roboto);
    line-height: 60px;
    padding-top: 15px;
}

.adv__card-description {
    text-align: center;
    padding: 10px;
}

@media (max-width: 1400px) {
    .adv__card {
        flex: 1 1 300px;
    }
}

@media (max-width: 1200px) {
    .adv__card-title {
        font-size: 30px;
        line-height: 35px;
    }
    .adv__card-img {
        padding: 0px;
    }
}

@media (max-width: 992px) {
    .adv-cardlist {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px;
    }
    .adv__card {
        width: 100%;
        display: flex;
        border: none;
    }
    .adv__card-title {
        font-size: 24px;
    }
    .adv__card-description {
        padding: 5px;
        font-size: 16px;
    }
    .adv__card-img {
        padding: 0px;
    }
}

@media (max-width: 576px) {
    .adv__card {
        width: 100%;
    }
    .adv-cardlist {
        padding: 0;
    }
}