.fresh__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFC3A0;
}

.fresh {
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-roboto);
}

.fresh__left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 20px;
}

.fresh__right {
  width: 65%;
}

.fresh__left-title {
  font-family: var(--font-roboto);
  font-size: 70px;
}

.fresh__slider {
  position: relative;
}

.fresh__slider-arrows {
  position: absolute;
  display: flex;
  bottom: 4%;
  right: 1%;
}

.fresh__slider-arrows img {
  margin-left: 5px;
  max-width: 30px;
  padding: 5px;
  border: 1px solid #000;
}

@media (max-width: 1200px) {
  .fresh__left-title {
    font-size: 50px;
    line-height: 60px;
  }

  .fresh__left-discription {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .fresh__left-title {
    font-size: 30px;
    line-height: 40px;
  }

  .fresh__left-discription {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .fresh {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .fresh__left {
    width: 100%;
    align-items: center;
  }

  .fresh__right {
    width: 100%;
  }
}