.Howitworks {
  width: 100%;
  min-height: 657px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.Howitworks__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}

.Howitworks__card-list {
  display: flex;
  padding-top: 30px;
}

.Howitworks__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
  padding-bottom: 30px;
}

.Howitworks__card-title {
  text-align: center;
  font-size: 27px;
  padding: 5px 0;
  text-transform: uppercase;
}


