.Howitworks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.Howitworks__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-roboto);
  font-size: 43px;
}

.Howitworks__card-list {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.Howitworks__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
  padding-bottom: 30px;
}

.Howitworks__card-title {
  text-align: center;
  font-size: 27px;
  font-family: var(--font-roboto);
  padding: 5px 0;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .Howitworks__card-list {
    flex-direction: column;
  }

  .Howitworks__card {
    padding: 0px;
  }
}

@media (max-width: 576px) {
  .Howitworks {
    padding: 15px;
  }

  .Howitworks__card-list {
    padding-top: 0px;
  }
}