.info {
  width: 100%;
  padding: 15px;
  min-height: 673px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid white;
}

.info__img {
  margin-right: 30px;
}

.info__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
}

.info__description {
  padding-bottom: 15px;
}