@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --accent: #0126DE;
  --gray: #F5EDE7;
  --xxl: 1320px;
  --xl: 1140px;
  --lg: 960px;
  --md: 720px;
  --sm: 540px;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #000;
  background-color: var(--gray);
  font-size: 18px;
}

.wrapper {
  max-width: var(--xxl);
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fresh {
  width: 100%;
  padding: 24px 16px;
  background-color: #FFC3A0;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-roboto);
}

.fresh__left {
 max-width: 35%;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 padding-right: 20px;
}

.fresh__right {
  max-width: 65%;
}

.fresh__left-title {
  font-size: 70px;
}

.fresh__left-btn {
  font-size: 22px;
  border: 1px solid #000;
  border-radius: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 58px;
  cursor: pointer;
}

.fresh__slider{
  position: relative;
}

.fresh__slider-arrows {
  position: absolute;
  display: flex;
  bottom: 4%;
  right: 1%;
}

.fresh__slider-arrows img{
  margin-left: 5px;
  max-width: 30px;
  padding: 5px;
  border: 1px solid #000;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-top: 40px;
}

.info__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__card-list {
  display: flex;
  padding-top: 30px;
}

.info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.info__card-title {
  text-align: center;
  font-size: 27px;
  padding: 5px 0;
}

@media (max-width: 1400px) {
  .wrapper {
    max-width: var(--xl);
  }
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: var(--lg);
  }
  .fresh__left-title {
    font-size: 50px;
  }
  .fresh__left-discription {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    max-width: var(--md);
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: var(--sm);
  }
}

@media (max-width: 576px) {
  .wrapper {
    max-width: 100%;
  }
}