.shop {
  width: 100%;
  padding: 15px;
}

.shop__title {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-roboto);
  font-size: 35px;
}

.shop__cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop__card {
  max-width: 400px;
  padding-top: 15px;
}

.shop__card-name {
  text-transform: uppercase;
  font-size: 27px;
  font-family: var(--font-roboto);
}

@media (max-width: 1400px) {
  .shop__card {
    flex: 1 1 300px;
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .shop__card-name {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .shop__cardlist {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
  }

  .shop__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shop {
    padding-bottom: 0px;
  }

  .shop__card:last-child {
    padding-bottom: 0px;
  }
}