.header
  width: 100%
  display: flex
  justify-content: space-between
  font-size: 16px
  padding: 15px
  padding-bottom: 0
  border-bottom: 1px solid #000

.header__nav
  display: flex
  justify-content: space-between
  align-items: baseline

.header__nav-menu ul
  padding: 0

  li
    list-style: none
    display: inline
    margin: 0px
    padding-left: 16px

    a
      text-decoration: none
      color: #000

.header a:hover
  color: var(--accent)

.header__cart
  display: flex
  align-items: flex-end

.header__cart-cart
  padding-left: 6px

.header__cart a
  text-decoration: none
  color: #000