.topDest
    width: 100%
    padding-top: 100px
.top
    &__list
        width: 92%
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        &-cuba
            width: 350px
            height: 350px
            margin: 10px
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 47.69%, rgba(0, 0, 0, 0.8) 100%), url("/images/topDest/Cuba.jpg")
            position: relative
            span
                font-size: 28px
                font-weight: 700
                color: white
                position: absolute
                bottom: 5%
                left: 5%
                
        &-paris
            width: 350px
            height: 350px
            margin: 10px
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 47.69%, rgba(0, 0, 0, 0.8) 100%), url("/images/topDest/Paris.jpg")
            position: relative
            span
                font-size: 28px
                font-weight: 700
                color: white
                position: absolute
                bottom: 5%
                left: 5%
        &-japan
            width: 350px
            height: 350px
            margin: 10px
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 47.69%, rgba(0, 0, 0, 0.8) 100%), url("/images/topDest/japan.jpg")
            position: relative
            span
                font-size: 28px
                font-weight: 700
                color: white
                position: absolute
                bottom: 5%
                left: 5%
    &__card
        width: 50%
        padding-right: 20px
        &-title
            font-size: 2.5em
            font-weight: 700
            span
                color: $accent
        &-description
            padding: 25px 0
            font-family: $font-ptSans
            color: $gray-color