@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f7;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.head {
  background-color: #444;
  color: #e6e6e6;
}

.head__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px;
}

.head__top-title a{
  text-decoration: none;
  color: #e6e6e6;
}

.head__top-input input{
  background-color: #575757;
  color: #aeaeae;
  border: none;
  outline: none;
  min-width: 350px;
  border-radius: 8px;
}

.head__top-right{
  display: flex;
}

.head__top-account {
  padding-right: 10px;
}

.head__top-phone {
  padding-left: 10px;
  border-left: 1px solid #000;
}

.head__top-phone a{
  text-decoration: none;
  color: #e6e6e6;
}

.head__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
}

.head__bottom-nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.head__bottom-nav ul li{
  padding-left: 15px;
}

.head__bottom-nav a{
  text-decoration: none;
  color: #e6e6e6;
}

.head__bottom-cart {
  padding: 20px;
  background-color: green;
}