@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  background-color:#444;
  color: #e6e6e6;
  padding: 0px;
}
header a{
  color: #d6d6d6;
}
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-block-end: 0%;
}

header .menu {
  width: 100%;
  background-color: #333333;
  padding: 15px;
  font-size: 14px;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu ul li {
  margin-left: 50px;
}

.menu ul li:first-child {
  margin-left: 0;
}

.menu ul li a {
  text-decoration: none;
}

.top_inp {
  
}