@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f7;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #444;
  color: #e6e6e6;
  padding: 0px;
}

header a {
  color: #d6d6d6;
}

header a:hover {
  color: white;
}

header .top .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-block-end: 0%;
}

header .menu {
  width: 100%;
  background-color: #333333;
  padding: 15px;
  font-size: 14px;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu ul li {
  margin-left: 50px;
}

.menu ul li:first-child {
  margin-left: 0;
}

.menu ul li a {
  text-decoration: none;
  display: block;
  transition: 0.2s ease-in all;
}

.menu ul li a:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.top_inp {
  width: 500px;
  font-size: 14px;
  background-color: #575757;
  border: none;
  outline: none;
  color: #aeaeae;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #444;
  color: #e6e6e6;
  padding: 0px;
}

footer a {
  color: #d6d6d6;
}

footer a:hover {
  color: white;
}

.foot {
  width: 100%;
  background-color: #333333;
  font-size: 14px;
  text-align: center;
}

.tel {
  text-decoration: none;
}

.tel:hover {
  text-decoration: underline;
}

footer .menu {
  width: 100%;
  padding: 15px;
  font-size: 14px;
}

aside {
  float: left;
  max-height: 0px;
}

aside ul {
  list-style: none;
  padding-left: 15px;
  width: 250px;
  border: 2px solid #707070;
  background-color: #575757;
}

aside a {
  text-decoration: none;
  color: black;
}

aside a:hover {
  background-color: #acacac;
}

aside ul li a {
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in all;
  color: #fdfdfd;
}

aside ul li a:hover {
  text-decoration: none;
  transform: scale(1.01);
}

aside ul ul {
  display: none;
  position: relative;
  top: 100%;
}

aside ul li:hover>ul {
  display: inherit;
}

aside ul ul li {
  min-width: 170px;
  display: list-item;
  position: relative;
  background-color: #575757;
}