.btn
  max-width: 200px
  display: inline-block
  background-color: $accent
  color: white
  text-decoration: none
  padding: 10px 20px
  font-size: 18px
  text-align: center
  outline: none
  transition: all .1s ease
  cursor: pointer

@media (max-width: 768px)
  .btn
    max-width: 150px
    font-size: 14px

@media (max-width: 576px)
  .btn
    padding: 0px
    font-size: 12px