// USER VARIABLES SECTION

$font-noto: 'Noto Serif', sans-serif // User Font Family
$font-ptSans: 'PT Sans', sans-serif
$main-color: #2C2C2C
$gray-color: #A79997
$accent: #FF715B
$border-color: #F5EBE9

$xxl: 1320px
$xl: 1140px
$lg: 960px
$md: 720px
$sm: 540px

@import reset

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('ttf')

@include font('Noto Serif', normal, 400, '../fonts/NotoSerif-Regular.ttf')
@include font('Noto Serif', italic, 400, '../fonts/NotoSerif-Italic.ttf')
@include font('Noto Serif', normal, 700, '../fonts/NotoSerif-Bold.ttf')
@include font('Noto Serif', italic, 700, '../fonts/NotoSerif-BoldItalic.ttf')


@include font('PT Sans', normal, 400, '../fonts/PTSans-Regular.ttf')
@include font('PT Sans', italic, 400, '../fonts/PTSans-Italic.ttf')
@include font('PT Sans', normal, 700, '../fonts/PTSans-Bold.ttf')
@include font('PT Sans', italic, 700, '../fonts/PTSans-BoldItalic.ttf')

// GENERAL DOCUMENT STYLES

.wrapper 
	max-width: 1200px
	margin: 0 auto

body
	font-family: 'Noto Serif'
	color: $main-color

.wrapper
    max-width: $xxl
    margin: 0 auto

@media (max-width: 1400px)
    .wrapper
        max-width: $xl
@media (max-width: 1200px)
    .wrapper
        max-width: $lg
@media (max-width: 992px)
    .wrapper
        max-width: $md
@media (max-width: 768px)
    .wrapper
        max-width: $sm
@media (max-width: 576px)
    .wrapper
        max-width: 100%



